In [28]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os 
import re
import nltk

In [29]:
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")

In [30]:
df_train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [31]:
df_test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [32]:
print("Shape of train_set: " + str(df_train.shape))
print("Shape of test_set: " + str(df_test.shape))

Shape of train_set: (20800, 5)
Shape of test_set: (5200, 4)

In [33]:
print(df_train.isnull().sum())
print('----------------------')
print(df_train.isnull().sum())

id           0
title      558
author    1957
text        39
label        0
dtype: int64
----------------------
id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [34]:
df_train.duplicated(keep=False).sum() #keep=False.This mean all duplicates are True.

0

In [35]:
df_test.duplicated(keep=False).sum()

0

In [36]:
df_train.duplicated(keep=False,subset=['title']).sum()

1366

In [37]:
#Now to fill the missing values.Since we are not dealing with numbers we can't fill the null values with mean, median or mode.
#So, we will replace the missing values with space.

df_train=df_train.fillna('')
df_test=df_test.fillna('')

In [38]:
print("Training data after filling the missing values")
print(df_train.isnull().sum())
print("---------------------")
print("Test data after filling the missing values")
print(df_test.isnull().sum())

Training data after filling the missing values
id        0
title     0
author    0
text      0
label     0
dtype: int64
---------------------
Test data after filling the missing values
id        0
title     0
author    0
text      0
dtype: int64

In [39]:
df_train['merged_data_column']= df_train['title'] + " " +df_train['author']+ " "+ df_train['author']
df_test['merged_data_column']= df_test['title'] + " " +df_test['author']+ " "+ df_test['author']

In [40]:
df_train.head()

,id,title,author,text,label,merged_data_column
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

In [41]:
from html.parser import HTMLParser
html_parser = HTMLParser()
train_set = html_parser.unescape(df_train)
train_set

C:\Users\Shuhgyta\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,id,title,author,text,label,merged_data_column
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...
...,...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0,Rapper T.I.: Trump a ’Poster Child For White S...
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0,"N.F.L. Playoffs: Schedule, Matchups and Odds -..."
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0,Macy’s Is Said to Receive Takeover Approach by...
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1,"NATO, Russia To Hold Parallel Exercises In Bal..."
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1,What Keeps the F-35 Alive David Swanson David ...

In [42]:
from html.parser import HTMLParser
html_parser = HTMLParser()
test_set = html_parser.unescape(df_test)
test_set

C:\Users\Shuhgyta\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,id,title,author,text,merged_data_column
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...","Specter of Trump Loosens Tongues, if Not Purse..."
1,20801,Russian warships ready to strike terrorists ne...,,Russian warships ready to strike terrorists ne...,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,#NoDAPL: Native American Leaders Vow to Stay A...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...","Tim Tebow Will Attempt Another Comeback, This ..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,Keiser Report: Meme Wars (E995) Truth Broadcas...
...,...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...,The Bangladeshi Traffic Jam That Never Ends - ...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...,John Kasich Signs One Abortion Bill in Ohio bu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...,"California Today: What, Exactly, Is in Your Su..."
5198,25998,300 US Marines To Be Deployed To Russian Borde...,,« Previous - Next » 300 US Marines To Be Deplo...,300 US Marines To Be Deployed To Russian Borde...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...,"Awkward Sex, Onscreen and Off - The New York T..."

In [43]:
train_set['merged_data_column'][1]

'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart Daniel J. Flynn Daniel J. Flynn'

In [44]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shuhgyta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Shuhgyta\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [45]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

for index,row in train_set.iterrows():
    filter_sentence=''
    
    text=row['merged_data_column']
    text=re.sub(r'[^\w\s]',' ',text)
    text=re.sub(r'[[:punct:]]',' ',text)
    
    #text=[t for t in text if t not in stop_words]
    
    tokenizer=nltk.tokenize.TreebankWordTokenizer()
    tokens=nltk.word_tokenize(text)
    #print(tokens)
    
    stemmer=nltk.stem.PorterStemmer()
    stemmed_sentence=" ".join(stemmer.stem(token) for token in tokens)
    #print(stemmed_sentence)
    
    lemmatizer=nltk.stem.WordNetLemmatizer()
    for token in tokens:
        filter_sentence=filter_sentence + " "+ str(lemmatizer.lemmatize(token)).lower()
    
    train_set.loc[index,'merged_data_column']=filter_sentence

In [46]:
train_set=train_set.drop(['id','title', 'author', 'text',], axis=1)

In [47]:
train_set

       label                                 merged_data_column
0          1   house dem aide we didn t even see comey s let...
1          0   flynn hillary clinton big woman on campus bre...
2          1   why the truth might get you fired consortiumn...
3          1   15 civilians killed in single us airstrike ha...
4          1   iranian woman jailed for fictional unpublishe...
...      ...                                                ...
20795      0   rapper t i trump a poster child for white sup...
20796      0   n f l playoffs schedule matchups and odds the...
20797      0   macy s is said to receive takeover approach b...
20798      1   nato russia to hold parallel exercises in bal...
20799      1   what keeps the f 35 alive david swanson david...

[20800 rows x 2 columns]

In [48]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

X_train=train_set['merged_data_column']
Y_train=train_set['label']

count_vectorizer=CountVectorizer()
count_matrix=count_vectorizer.fit_transform(X_train)                #Fit to data and then transform it.
count_to_tfidf_matrix=count_vectorizer.transform(X_train)           #Tranform a count matrix to a tfidf representation
tfidf=TfidfTransformer(norm="l2")
tfidf.fit(count_to_tfidf_matrix)
tf_idf_matrix=tfidf.fit_transform(count_to_tfidf_matrix)

tf_idf_matrix.toarray().shape

(20800, 25106)

In [49]:
tf_idf_matrix

<20800x25106 sparse matrix of type '<class 'numpy.float64'>'
	with 273058 stored elements in Compressed Sparse Row format>

In [50]:
test_count_to_tfidf=count_vectorizer.transform(test_set['merged_data_column'].values)
test_tfidf = tfidf.transform(test_count_to_tfidf)

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(tf_idf_matrix, Y_train, random_state=0)

In [52]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

NB = MultinomialNB()
NB.fit(X_train, Y_train)
pred = NB.predict(X_test)
print('Accuracy of NB  classifier on training set: {:.2f}'
     .format(NB.score(X_train, Y_train)))
print('Accuracy of NB classifier on test set: {:.2f}'
     .format(NB.score(X_test, Y_test)))
cm = confusion_matrix(Y_test, pred)
cm

Accuracy of NB  classifier on training set: 0.98
Accuracy of NB classifier on test set: 0.97

array([[2557,    7],
       [ 162, 2474]], dtype=int64)

In [53]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e5,max_iter=200)
logreg.fit(X_train, Y_train)
pred = logreg.predict(X_test)
print('Accuracy of Lasso classifier on training set: {:.2f}'
     .format(logreg.score(X_train, Y_train)))
print('Accuracy of Lasso classifier on test set: {:.2f}'
     .format(logreg.score(X_test, Y_test)))
cm = confusion_matrix(Y_test, pred)
cm

Accuracy of Lasso classifier on training set: 1.00
Accuracy of Lasso classifier on test set: 1.00

array([[2554,   10],
       [  14, 2622]], dtype=int64)

In [54]:
from sklearn.svm import SVC
clf=SVC()
clf=clf.fit(X_train, Y_train)
pred=clf.predict(X_test)
print('Accuracy of SVM  classifier on training set: {:.2f}'
     .format(clf.score(X_train, Y_train)))
print('Accuracy of SVM classifier on test set: {:.2f}'
     .format(clf.score(X_test, Y_test)))
cm = confusion_matrix(Y_test, pred)
cm

Accuracy of SVM  classifier on training set: 1.00
Accuracy of SVM classifier on test set: 0.99

array([[2548,   16],
       [  13, 2623]], dtype=int64)